{% if currentVersion != 'free-pro-team@latest' %}
{% include all-products-link %}
{% endif %}

{% for product in activeProducts %}
{% if currentVersion == 'free-pro-team@latest' or product.external or product.versions contains currentVersion %}
<li
  title="{{product.name}}"
  class="sidebar-product"
>
  <a href="{% unless product.external %}/{{currentLanguage}}{% endunless %}{% if product.versions contains currentVersion and currentVersion != 'free-pro-team@latest' %}/{{currentVersion}}/{{product.id}}{% else %}{{product.href}}{% endif %}" class="f4 pl-4 pr-5 py-2 color-text-primary">
    {{ product.name }}
  </a>
</li>
{% endif %}
{% endfor %}
